@model TheNewsWebsite.Models.TheNewsWebsite.Author

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-title">
    <div>
        <h3>Quản lý tác giả</h3>
        <p>Sửa tác giả</p>

    </div>
</div>
<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">Tên tác giả</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" class="form-control" asp-items="ViewBag.StatusAuthor"></select>
                @*<input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
                <input class="btn btn-default" type="button" value="Bỏ qua" onclick="location.href='@Url.Action("Index","AuthorsAdmin")'" />
            </div>
        </div>
    </div>
</form>

