@model TheNewsWebsite.Models.TheNewsWebsite.Admin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <title>Quản trị Tin mới</title>
</head>
<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <h1>TheNews Website</h1>
        </div>
        <div class="login-box">
            <form method="post" class="login-form" asp-action="Login" asp-controller="LoginAdmin">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
                <div asp-validation-summeary="All"></div>
                    <div class="form-group">
                        <label class="control-label">TÊN ĐĂNG NHẬP</label>
                        <input class="form-control" type="text" placeholder="Tên đăng nhập" asp-for="Username">
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">MẬT KHẨU</label>
                        <input class="form-control" type="password" placeholder="Mật khẩu" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <div class="utility">
                            <div class="animated-checkbox">
                                <label class="semibold-text">
                                    <input type="checkbox"><span class="label-text">Stay Signed in</span>
                                </label>
                            </div>
                            <p class="semibold-text mb-0"><a data-toggle="flip">Forgot Password ?</a></p>
                        </div>
                    </div>
                    <div class="form-group btn-container">
                        <input type="submit" value="ĐĂNG NHẬP" class="btn btn-primary btn-block" />
                    </div>
            </form>
        </div>
            <form class="forget-form" action="index.html">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
                <div class="form-group">
                    <label class="control-label">EMAIL</label>
                    <input class="form-control" type="text" placeholder="Email">
                </div>
                <div class="form-group btn-container">
                    <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
                </div>
                <div class="form-group mt-20">
                    <p class="semibold-text mb-0"><a data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
                </div>
            </form>
       
    </section>
    </body>
</html>
