@model TheNewsWebsite.Models.TheNewsWebsite.Categary

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-title">
    <div>
        <h3>Quản lý danh mục cha</h3>
        <p>Thêm danh mục</p>

    </div>
</div>
<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label">Tên danh mục</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Status" />
                    <label asp-for="Status">Đã đăng</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-success" />
                <input class="btn btn-default" type="button" value="Bỏ qua" onclick="location.href='@Url.Action("Index","CategariesAdmin")'" />
            </div>
        </div>
    </div>
</form>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
