@model IEnumerable<TheNewsWebsite.Models.TheNewsWebsite.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-title">
    <div>
        <h3>Quản lý quản trị viên</h3>
        <p>Danh sách</p>

    </div>
</div>
<p>
    <a asp-action="Index">Quay lại danh sách</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Tên người dùng
            </th>
            <th>
                Quyền hạn
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                @if (item.Authority == 1)
                {
                    <td>
                        Super Admin
                    </td>
                }
                else
                {
                    <td>
                        Admin
                    </td>
                }


                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>